*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    color: red;
    text-align: center;
}
.gallery-item{
    width: 400px;
    height: 250px;
    border: 1px solid black;
}
.gallery-img{
    width: 100%;
    height: 89%;
}
.container{
    max-width: 1800px;
    margin: 0 auto;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}
.gallery-title{
    text-align: center;
}
.gallery-item-sound{
    display: flex;
    height: 85%;
    align-items: center;
    justify-content: center;
}